.goButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.goButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.goButton:active {
	position:relative;
	top:1px;
}
.seduceContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seduceContainer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.seduceContainer .statement {
  margin-top: 15px;
  font-size: 12px;
  color: #5f5f5f;
}
@media only screen and (min-width: 1080px) {
  .seduceContainer {
    display: block;
  }
}
