.segmentBtnContainer {
  margin-top: 7px;
  margin-left: 15px;
  padding: 0.5em 0;
  border-bottom: 3px solid transparent;
  width: 58px;
  text-align: center;
  font-size: 16px;
  color: #5f6368;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.segmentBtnContainer:hover {
  border-bottom: 3px solid #4285f4;
  color: #4285f4;
  cursor: pointer;
}
.segmentBtnContainer.active {
  border-bottom: 3px solid #4285f4;
  color: #4285f4;
  cursor: pointer;
}